<% include head.ejs %>
<title>Endless </title>
<h1>You've answered: </h1>
<% for (var index = 0; index < data.length; index++) { %>
  <h3>
    <a href="/<%= data[index].id %>">
      <%= data[index].question %>
    </a>
  </h3>
  <p>
    <%= data[index].answer %>
  </p>
<% } %>
<p>
  <a href="/<%= data[data.length - 1].id + 1 %>">More questions</a>
</p>
<% include tail.ejs %>
